<h2>Add a New Album</h2>
<p class="text-muted">Share an album you've been listening to</p>

<%= form_with model: @album, local: true do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul>
        <% @album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "Album Title" %><br>
    <%= f.text_field :title, placeholder: "Kid A" %>
  </div>

  <div>
    <%= f.label :artist, "Artist Name" %><br>
    <%= f.text_field :artist, placeholder: "Radiohead" %>
  </div>

  <div>
    <%= f.submit "Add Album" %>
  </div>
<% end %>

<p class="text-muted mt-lg"><%= link_to "â† Back to albums", albums_path %></p>
