<h1><%= @album.title %> — <%= @album.artist %></h1>

<h2><%= @album.title %> — <%= @album.artist %></h2>

<h3>Reviews</h3>
<%= render @album.reviews %>

<% if current_user %>
  <h4>Add a review</h4>
  <%= form_with model: [@album, @review], local: true do |f| %>
    <div>
      <%= f.label :rating, "Rating" %><br>
      <%= f.number_field :rating, in: 1..5 %>
    </div>
    <div>
      <%= f.label :comment, "Comment" %><br>
      <%= f.text_area :comment %>
    </div>
    <div>
      <%= f.submit "Add review" %>
    </div>
  <% end %>
<% else %>
  <h2>Album</h2>
  <p>You must <%= link_to "sign in", new_session_path %> or <%= link_to "sign up", new_user_path %> to view this album.</p>
<% end %>
