<h1>New Review</h1>

<%= form_with model: @review, url: reviews_path do |f| %>
  <%# Hidden fields to carry album/track info from Spotify %>
  <%= hidden_field_tag :album_title, params[:album_title] %>
  <%= hidden_field_tag :artists, params[:artists] %>
  <%= hidden_field_tag :track_id, params[:track_id] %>
  <%= hidden_field_tag :track_name, params[:track_name] %>

  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1..5 %>
  </div>

  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 6 %>
  </div>

  <div>
    <%= f.submit 'Submit review' %>
  </div>
<% end %>
