<!DOCTYPE html>
<html>
  <head>
    <title>Aura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
      <h1><a href="<%= root_path %>">Aura</a></h1>
      <% if current_user %>
        Signed in as <%= current_user.name %> |
        <%= link_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %> |
        <%= link_to "Sign up", new_user_path %>
      <% end %>
    </header>

    <% flash.each do |k,v| %>
      <div class="flash <%= k %>"><%= v %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
